.test {
    border: red 1px solid;
}

#title {
    align-content: center;
    background-color: #666555;
    color: white;
}

#big-text {
    align-content: center;
    font-size: 3.75rem;
    margin-bottom: 18px;
}

#small-text {
    margin-bottom: 32px;
}

#pictures-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}

.images {
    max-height: 300px;
    width: auto;
    margin: 50px;
}

.pictures-text {
    font-size: 24px;
    margin-bottom: 50px;
}

#buttons {
    display: flex;
    justify-content: center;
}

.butt {
    background-color: #aaaaaa;
    color: white;
    padding: 5px;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 5px;
}
